InfoGlue Calendar Verification Message

You are registered for the event $eventVersion.name

----------------------------------------------------------
This email was sent from the InfoGlue Calendar Application.
Do not reply to this email. 
