<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!--<property name="connection.datasource">java:jdbc/calendar</property>-->
          
        <!--
		<property name="hibernate.provider_class">org.infoglue.common.dbcp.DBCPConnectionProvider</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/calendar</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.pool_size">20</property>
        <property name="show_sql">false</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.dbcp.initialSize">10</property>
        <property name="hibernate.dbcp.maxWait">3000</property>
        <property name="hibernate.dbcp.validationQuery">select count(*) from calendar</property>
		-->
		
		<property name="hibernate.provider_class">@hibernate.provider_class@</property>
        <property name="hibernate.connection.driver_class">@hibernate.connection.driver_class@</property>
		<property name="hibernate.connection.url">@hibernate.connection.url@</property>
        <property name="hibernate.connection.username">@hibernate.connection.username@</property>
        <property name="hibernate.connection.password">@hibernate.connection.password@</property>
        <property name="hibernate.connection.pool_size">@hibernate.connection.pool_size@</property>
        <property name="show_sql">@show_sql@</property>
        <property name="dialect">@dialect@</property>
        <property name="hibernate.dbcp.initialSize">@hibernate.dbcp.initialSize@</property>
        <property name="hibernate.dbcp.maxWait">@hibernate.dbcp.maxWait@</property>
        <property name="hibernate.dbcp.validationQuery">@hibernate.dbcp.validationQuery@</property>

 		  
        <!-- Mapping files -->
        <mapping resource="Calendar.hbm.xml"/>
        <mapping resource="Category.hbm.xml"/>
        <mapping resource="Event.hbm.xml"/>
        <mapping resource="EventType.hbm.xml"/>
        <mapping resource="EventTypeCategoryAttribute.hbm.xml"/>
        <mapping resource="EventCategory.hbm.xml"/>
        <mapping resource="Location.hbm.xml"/>
        <mapping resource="Participant.hbm.xml"/>
        <mapping resource="Resource.hbm.xml"/>
        <mapping resource="Entry.hbm.xml"/>

    </session-factory>

</hibernate-configuration>